@font-face {
  font-family: 'Rockville Solid Regular';
  src:  url('./components/fonts/FontsFree-Net-RockvilleSolid.ttf')
}
@font-face {
  font-family: 'Now Regular';
  src:  url('./components/fonts/Now-Regular.otf')
}
@font-face {
  font-family: 'Rajdhani';
  src:  url('./components/fonts/Rajdhani-Bold.ttf');
  /* src:  url('./components/fonts/Rajdhani-Light.ttf');
  src:  url('./components/fonts/Rajdhani-Medium.ttf');
  src:  url('./components/fonts/Rajdhani-Regular.ttf');
  src:  url('./components/fonts/Rajdhani-SemiBold.ttf'); */
}

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: "Now Regular";
}

.container {
  width: 1170px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fadeOverlay{
  display: block;
  position: fixed;
  background-color: black;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: fadeIn 2s ;
  animation-fill-mode: forwards;
  z-index: 99999;
}

@keyframes fadeIn {
  0% {
    opacity: 1;

  }

  100% {
    visibility: hidden;
    opacity: 0; 
  }
}


html,
body {
	height: 100%;
	font-family: "Now Regular";
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	/* color: #111111; */
	font-weight: 400;
	font-family: "Rajdhani", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Now Regular";
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	/* color: #ffffff; */
}

.displayFlex {
  display: flex;
  justify-content: space-between;
}